body
{
	font-family: sans-serif;
}

#welcome, h1
{
	text-align: center;
}
#editTextArea{
	width:1600px;
	height:700px;
	display:block;
	margin:auto;
}
#fileListUL{
	list-style-type: none;
}

/* project_view.php styling */
#project_view_preview{
	width: 700px;
	height:auto;
}
#project_view_preview_div{
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}
#links_container{
	float:left;
}



.defaultLink{
background: rgb(187,17,65);
	color:black;
	text-decoration: none;
  	border: 1px solid #ccc;
	border-radius: 4px;
  	display: inline-block;
  	padding: 10px 12px;
  	cursor: pointer;
	font-size: 16px;
	width:200px;

}
#previewSubmit{
margin-top: 20px;
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* Form Styling */
label
{
	font-size: 14px;
}

.submitBtn
{
	height: 32px;
	background: rgb(187,17,65);
	color: #fff;
  	border: 1px solid #ccc;
	border-radius: 4px;
  	display: inline-block;
  	padding: 6px 12px;
  	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	font-size: 16px;
}


.formWrap
{
	width: 285px;
	padding: 20px;
	margin: 0 auto;
	padding-bottom: 25px;
	border: 1px solid black;
	border-radius: 4px;
}


input[type="text"], input[type="password"]
{
	width: 166px;
	height: 24px;
	padding: 5px;
	margin-top: 10px;
	
}
.fileButton 
{
	height: 24px;
	width: 70px;
	background: rgb(187,17,65);
	color: #fff;
  	border: 1px solid #ccc;
	border-radius: 4px;
  	display: inline-block;
  	padding: 6px 12px;
  	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	margin-top: 10px;
	font-size: 12px;
}

.fileButton:hover
{
	box-shadow: 0 0 5px rgba(187,17,65,0.4);
}

/*

/* Nav Menu Styling */
#mainNavMenu
{
	width: 100%;
	height: 56px;
	margin-bottom: 20px;
	color: #eee;
}

#mainNavMenu ul
{
	width: 100%;
	height: 56px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #222;
	position: absolute; 
	left: 0; top: 0;
}

#mainNavMenu ul li
{
	float: left;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-top: 6px;
	background: transparent;
	transition: all .4s linear;
   user-select: none;

}

#mainNavMenu ul li:nth-child(2)
{
	border: 1px solid #eee;
	margin-right: 4px;
}

#mainNavMenu ul li:nth-child(2):hover
{
	border: 1px solid rgb(187,17,65);
	margin-right: 4px;
}

#mainNavMenu ul li:first-child
{
	margin-top: -2px;
	margin-left: -16px;
	margin-right: -14px;
	padding: 0;
}

#mainNavMenu ul li:last-child
{
	float: right;
	background: rgb(187,17,65);
	color: #eee;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	margin-right: 9px;
	margin-top: 9px;
	height: 14px;
}
#loggedInMessage{
	float:right;
}

#mainNavMenu ul li a
{
	text-decoration: none;
	font-size: 16px;
	transition: all .4s linear;
	cursor: pointer;
	color: #eee;
}

#mainNavMenu ul li a:hover
{
	color: rgb(187,17,65);
}

#mainNavMenu ul li .material-symbols-outlined
{
	font-size: 20px;
	margin: 0 0 0 4px;
}
/* Project list styling */

.userName {
    font-size: 1.8em;
    margin-bottom: 20px; 
    color: #333;
    display:block;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    overflow-y: auto; 
}

.projectDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px;
    width: 250px;
    height:250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.projectDiv:hover {
    transform: scale(1.05);
}

.projectName {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.projectPreview {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/*
footer
{
	width: 100%;
	height: 24px;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 0; bottom: 0;
}

footer a
{
	color: rgb(187,17,65);
}
*/
